.player-card {
    vertical-align: middle;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 200px;
    height: 550px;
    margin-left: 25px;
}

.player-card h3 {
    margin-top: 0;
}


.hidden {
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease;
}

/* Visible state of the div */
.visible {
    opacity: 1;
    transition: opacity 0.5s ease, height 0.5s ease;
}